.student {
  background-color: white;
  border-bottom: 2px solid rgb(207, 207, 207);
  display: grid;
  grid-template-columns: 28% 1fr 10%;
  grid-row-gap: 100px;
  align-items: center;
}

.student ul {
  list-style: none;
  padding: 0 0 0 10px;
}

.student-portrait-container {
  position: relative;
}

.student-portrait {
  display: block;
  margin: 0px auto;
  border: 2px solid rgb(207, 207, 207);
  border-radius: 100px;
  width: 55%;

}

.stats-container h1 {
  color: rgb(65, 65, 65);
  margin-bottom: 0;
}

.stats-container ul li {
  color: grey;
}

/* collaspsible button */

.collapsible {
  align-self: flex-start;
  color: rgb(207, 207, 207);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 2.2em;
}

.active, .collapsible:hover {
  color: rgb(65, 65, 65);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
