.App {
  text-align: center;
}

body {
  background-color: rgb(189, 189, 189);
}

.student-container {
  height: 85vh;
  width: 60vw;
  margin: 0 auto;
  margin-top: 5%;
  border: 2px solid rgb(207, 207, 207);
  border-radius: 10px;
  overflow: scroll;
  box-shadow: 5px 5px 5px rgb(139, 135, 139) ;
}
